<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <section class="min-h-dvh h-auto flex flex-col justify-center items-center gap-4">
        <nav class="bg-gray-200 h-[50px] absolute top-0 w-full flex justify-around items-center">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </nav>
        <form class="bg-gray-200 rounded-xl flex flex-col justify-center items-center gap-2 p-3" method="POST">
            <label>Correo electrónico:</label>
            <input class="p-2 bg-white rounded-md" type="email" name="email" required>
            <label>Contraseña:</label>
            <input class="p-2 bg-white rounded-md" type="password" name="password" required>
            <button class="bg-white cursor-pointer p-2 rounded-xl transition hover:bg-blue-500 hover:text-white" type="submit">Iniciar sesión</button>
        </form>

        <footer class="absolute bottom-0 w-full bg-gray-200 h-[50px] flex justify-center items-center">Footer</footer>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}  
        {% endwith %}
    </section>


</body>
</html>